:root {
  --color-primary: #0b2d5a;
  --color-secondary: #7689ae;
  --color-tertiary: #b7b0b0;
  --color-button: #0b2d5a;
  --color-button-hover: #658ea2;
  --color-text: #000000;
  --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Banner */
.header-banner {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
  flex: 60%;
  background-color: var(--color-secondary);
  border: 6px solid #071b40;
  border-radius: 70px 70px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

/* Títulos */
.main-title {
  font-size: 48px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  color: var(--color-white);
}

.section-title {
  font-family: "Inter", serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--color-primary);
  margin: 10px 0;
  text-align: center;
}

.section-subtitle {
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-primary);
  margin: 10px 0;
  text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.input-name {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 25px 0 0 25px;
  font-size: 16px;
}

.button-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Estilos de entrada de texto */
.input-title {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #333;
  border-right: none;
  border-radius: 25px 0 0 25px;
  font-family: "Merriweather", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão (base) */
button {
  padding: 15px 30px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Botão adicionar */
.button-add {
  background-color: var(--color-tertiary);
  color: var(--color-text);
  border-radius: 0 25px 25px 0;
}

.button-add:hover {
  background-color: #658ea2;
}

/* Botões de sorteio e reinício */
.button-draw,
.button-single-draw,
.button-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 40px;
  color: var(--color-white);
  background-color: var(--color-button);
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button-draw img,
.button-single-draw img,
.button-reset img {
  margin-right: 10px;
}

.button-draw:hover,
.button-single-draw:hover,
.button-reset:hover {
  background-color: var(--color-button-hover);
}

/* Listas */
ul {
  list-style-type: none;
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 20px 0;
}

.result-list {
  margin-top: 15px;
  color: #05DF05;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* Botão de remover */
.remove-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Ícone de remover: */
.icon-remove {
  width: 20px;
  height: auto;
  background: transparent;
  vertical-align: middle;
}

/* Espaço entre o nome e o botão do lixo */
.name-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}
